<nav class="navPages">
    <ul class="navPages-list">
        <li class="navPages-item">
            <a href="javascript:void(0)">Shop <i class="fa fa-angle-down"></i></a>
            <div class="navPage-subMenu">
                <ul class="navPage-subMenu-list">
                    {{#each categories}}
                    <li class="navPages-item">
                        {{> components/common/navigation-list}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </li>
        {{#unless theme_settings.hide_content_navigation}}
          {{#each pages}}
            <li class="navPages-item navPages-item-page">
                {{#if children}}
                <a class="navPages-action has-subMenu" href="{{url}}">{{name}} <i class="fa fa-angle-down"></i></a>
                <div class="navPage-subMenu">
                    <ul class="navPage-subMenu-list">
                        {{#each children}}
                        <li class="navPage-childList-item">
                            {{#if children}}
                            <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}} <span>></span></a>
                            <ul class="navPage-subSubMenu-list">
                                {{#each children}}
                                <li class="navPage-childList-item-level3">
                                    <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
                                </li>
                                {{/each}}
                            </ul>
                            {{else}}
                            <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{else}}
                <a class="navPages-action" href="{{url}}">{{name}}</a>
                {{/if}}
            </li>
          {{/each}}
        {{/unless}}
    </ul>
</nav>
