---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    top_sellers:
         limit: {{theme_settings.side_top_products_count}}
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---

{{#partial "page"}}
    <div class="product-page-crumbs">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>

<div class="container">

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}
    <div class="page">
        <main itemscope itemtype="http://schema.org/Product" class="page-content">

            {{> components/products/product-view schema=true}}

            <div class="product-bottom row">
                <div class="col-sm-12">

                    {{#if settings.show_product_reviews}}
                    <div id="reviews-product" class="module-wrapper">
                        {{>components/halothemes/reviews-product-tab}}
                    </div>
                    {{/if}}
                    {{#if product.related_products}}
                    <div id="relatedProducts" class="module-wrapper">
                        <h3><span>{{lang 'products.related_products'}}</span></h3>
                        {{> components/products/related-carousel products=product.related_products columns=theme_settings.productpage_related_products_column_count}}
                    </div>
                    {{/if}}

                    {{#if product.similar_by_views}}
                    <div id="similarByViews" class="module-wrapper">
                        <h3><span>{{lang 'products.similar_by_views'}}</span></h3>
                        {{> components/products/similar-by-views-carousel products=product.similar_by_views columns=theme_settings.productpage_similar_by_views_products_column_count}}
                    </div>
                    {{/if}}
                </div>
            </div>

        </main>
    </div>
</div>

<!-- Add Pixel Events to the button's click handler
<script type="text/javascript">
    fbq('track', 'ViewContent',{
        content_type: 'product',
        content_ids: ['{{product.id}}']
    });
    var button = document.getElementById('form-action-addToCart');
    button.addEventListener(
    'click',
    function() {
      fbq('track', 'AddToCart', {
        content_name: '{{{product.title}}}',
        content_ids: ['{{product.id}}'],
        content_type: 'product',
        value: '{{product.price.without_tax.value}}',
        currency: 'USD'
      });
    },
    false
    );

</script>
-->
<script>
window.dataLayer.push({
'productId': {{product.id}}
});
</script>

<script>
window.dataLayer.push({
'productPrice': {{product.price.without_tax.value}}
});
</script>

{{/partial}}
{{> layout/base}}
