// =============================================================================
// Stencil Checkout - Customize the Optimized Single-Page Checkout experience
// =============================================================================
// =============================================================================
//
// IMPORTANT DISCLAIMER
// Please do not nest elements within class selectors, and do not use class selectors other than those given below.
// Future support is guaranteed only if class selectors' structure and naming are left unchanged.
//
// =============================================================================
//
// Header Section
// Background, Logo Position
// -----------------------------------------------------------------------------
.optimizedCheckout-header {
    background-color: stencilColor("optimizedCheckout-header-backgroundColor");
    // scss-lint:disable StringQuotes
    background-image: url(stencilImage('optimizedCheckout-backgroundImage', 'optimizedCheckout-backgroundImage-size'));
    // scss-lint:enable StringQuotes
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //
    // TODO:
    // Configure media query to be 'desktop' breakpoint size
    // -----------------------------------------------------------------------------
    @media (min-width: 801px) {
        text-align: stencilString("optimizedCheckout-logo-position");
    }
}
.checkoutHeader{
    min-height: 97px;
}
.checkoutHeader-content {
    padding: 100px 2.7rem 40px;
}
.header-logo-text{
    font-family: stencilFontFamily('optimizedCheckout-logo-font'), Arial, Helvetica, sans-serif;
    color: stencilColor('optimizedCheckout-logo-text-color');
    text-transform: capitalize;
    font-style: italic;
    font-size: 35px;
    font-weight: 300;
}
//
// Primary and Secondary Headings
// Text Color & Typography
// .optimizedCheckout-headingPrimary styles top-level headings.
// .optimizedCheckout-headingSecondary styles certain lower-level elements, such as descriptions of cart items.
// -----------------------------------------------------------------------------
.optimizedCheckout-headingPrimary {
    color: stencilColor("optimizedCheckout-headingPrimary-color");
    font-family: stencilFontFamily("optimizedCheckout-headingPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-headingPrimary-font");
    font-size: 18px;
    letter-spacing: 0;
}

.optimizedCheckout-headingSecondary {

    color: stencilColor("optimizedCheckout-headingPrimary-color");
    font-family: stencilFontFamily("optimizedCheckout-headingPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-headingPrimary-font");
    font-size: 13px;
    letter-spacing: 0;
    text-transform: uppercase;
}

legend.form-legend.optimizedCheckout-headingSecondary {
    font-size: 14px;
    letter-spacing: 0;
    color: stencilColor("optimizedCheckout-headingSecondary-color");
    font-family: stencilFontFamily("optimizedCheckout-contentSecondary-font"), Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight: 700;

}

//
// Body
// Background & Shipping Method Overlay
// -----------------------------------------------------------------------------
body {
    background-color: stencilColor("optimizedCheckout-body-backgroundColor");
    font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial, Helvetica, sans-serif;
}

.optimizedCheckout-overlay {
    background-color: stencilColor("optimizedCheckout-body-backgroundColor");
}

//
// Primary & Secondary Content
// Text Color & Typography
// .optimizedCheckout-contentPrimary styles body text in the Order Summary/Order Confirmation; drop-down-list items; and text that summarizes completed steps.
// .optimizedCheckout-contentSecondary styles check boxes' text labels, and lower-level text in the Order Summary.
// -----------------------------------------------------------------------------
.optimizedCheckout-contentPrimary {
    color: stencilColor("optimizedCheckout-contentPrimary-color");
    font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-contentPrimary-font");
    font-size: 12px;
}

.optimizedCheckout-contentSecondary {
    color: stencilColor("optimizedCheckout-contentSecondary-color");
    font-family: stencilFontFamily("optimizedCheckout-contentSecondary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-contentSecondary-font");
}

//
// Primary Button
// Background & Border & Text Color & Typography
// Styles the CONTINUE button for each step, & the final confirmation button.
// -----------------------------------------------------------------------------
.optimizedCheckout-buttonPrimary {
    background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColor");
    border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColor");
    border-radius: 0;
    color: stencilColor("optimizedCheckout-buttonPrimary-color");
    font-family: stencilFontFamily("optimizedCheckout-buttonPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-buttonPrimary-font");
    height: 36px;
    &:focus,
    &:hover {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorHover");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorHover");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorHover");
    }
    &:active {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorActive");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorActive");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorActive");
    }
}

//
// Secondary Button
// Background & Border & Text Color & Typography
// Styles the EDIT button for each step.
// -----------------------------------------------------------------------------
.optimizedCheckout-buttonSecondary {
    background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColor");
    border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColor");
    color: stencilColor("optimizedCheckout-buttonSecondary-color");
    font-family: stencilFontFamily("optimizedCheckout-buttonSecondary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-buttonSecondary-font");
}

//
// Links
// Text Color & Typography
// -----------------------------------------------------------------------------
a {
    color: stencilColor("optimizedCheckout-link-color");
    font-family: stencilFontFamily("optimizedCheckout-link-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-link-font");
}

//
// Order Summary (Mobile Drawer & Modal)
// Background Color
// -----------------------------------------------------------------------------
.optimizedCheckout-orderSummary {
    background-color: stencilColor("optimizedCheckout-orderSummary-backgroundColor");
}

//
// Checkout Steps
// Background & Text Color
// Styles the large step-number indicators on the page's left side.
// -----------------------------------------------------------------------------
.optimizedCheckout-step {
    background-color: stencilColor("optimizedCheckout-step-backgroundColor");
    &::before {
        color: stencilColor("optimizedCheckout-step-textColor");
    }
    svg {
        fill: stencilColor("optimizedCheckout-step-textColor");
    }
}

//
// Form Labels
// Text Color
// Styles text labels on form fields.
// -----------------------------------------------------------------------------
.optimizedCheckout-form-label {
    color: stencilColor("optimizedCheckout-form-textColor");
    font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

//
// Form Input
// Background & Border Color
// Styles form fields.
// -----------------------------------------------------------------------------
.optimizedCheckout-form-input {
    background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
    border-color: stencilColor("optimizedCheckout-formField-borderColor");
    font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial, Helvetica, sans-serif;
    border-radius: 3px;
    padding: .5rem 0.75rem 0.5rem;
    font-size: 12px;
    height: 40px;
}

//
// Discount Banners
// Background & Text & Icon Color
// Styles discount banners.
// -----------------------------------------------------------------------------
.optimizedCheckout-discountBanner {
    background-color: stencilColor("optimizedCheckout-discountBanner-backgroundColor");
    color: stencilColor("optimizedCheckout-discountBanner-textColor");
    svg {
        fill: stencilColor("optimizedCheckout-discountBanner-iconColor");
    }
}


/*halothemes styles*/

.ng-checkout-container {
    font-family: stencilFontFamily("optimizedCheckout-step-font"), Arial, Helvetica, sans-serif;
}

.form-body {
    & p {
        font-size: 12px;
        color: #303843;
        font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial, Helvetica, sans-serif;

    }
}

.layout-main {
    padding: 30px;
    margin-top: 60px;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 3px;
}

@media (min-width: 1261px) {
    .layout-main {
        width: 60%;
    }
    .layout-cart {
        width: 40%;        
        padding-left: 30px;
    }
}

.stepHeader {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    justify-content: space-between;

}

.stepHeader-counter {
    font-size: 18px;
    font-weight: stencilFontWeight("optimizedCheckout-step-font");
    font-family: stencilFontFamily("optimizedCheckout-step-font"), Arial, Helvetica, sans-serif;
    width: 36px;
    height: 36px;
    border: 1px solid #8c8c8c;
    border-radius: 50%;
    background-color: transparent;
}

.stepHeader-counter--complete {
    transform: none;
    background: #ffffff;
    border-color: #b9b9b9;
    svg {
        fill: #b9b9b9;
    }
}

.optimizedCheckout-orderSummary {
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: 60px;
    overflow: hidden;
    & .cart-header {
        background: #ffffff;
        text-transform: uppercase;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px 14px;
    }
    & .cart-section {
        padding: 27px 30px;
        & .cart-priceItem {
            font-size: 14px;
            margin-bottom: 1rem;
            & .cart-priceItem-value {
                font-weight: 700;
            }
        }
    }
    & .product-title {
        font-weight: 500;
        margin-bottom: 15px;
        font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial, Helvetica, sans-serif;
        color: #2255a4;
        letter-spacing: 0;
    }
}

.checkout-form {
    margin-top: 0;
}

.button--tertiary:hover, .button--tertiary:focus, .button--tertiary.is-active, .button--tertiary.active {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}
.stepHeader-body {
    color: #303843;
    font-size: 12px;
    order: 3;
    margin-left: 56px;
}

.checkout-address--static .address-entry {
    font-size: 12px;
    line-height: 20px;
}

.cart-header-link {
    color: #2255a4;
    font-weight: 400;
    line-height: 1.3;
    display: inline-block;
    text-transform: capitalize;
    font-family: stencilFontFamily("optimizedCheckout-contentSecondary-color"), Arial, Helvetica, sans-serif;   
    font-size: 12px;
    &:hover{
        color: #4cc1ed;
    }
}

.product-price--beforeDiscount {
    color: #8c8c8c;
    font-style: italic;
    font-size: 13px;
}

.product-price.ng-binding.ng-scope {
    font-weight: 700;
}

a.redeemable-label {
    color: #2255a4;
    display: block;
    padding-top: 0px;
    font-size: 14px;
}

.cart-priceItem--total {
    & .cart-priceItem-label {
        font-size: 14px;
        color: #000;
        font-weight: 700;
    }
    & .cart-priceItem-value {
        font-size: 20px;
        color: #000;
        font-weight: 700;        
    }
}

.optimizedCheckout-orderSummary .cart-section .cart-priceItem--total {
    margin-bottom: 2px;
}
.button {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.form-prefixPostfix .button {
    height: 40px;
    border-radius: 3px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #5b5b5b;
    color: #fff;
    border-color: #5b5b5b;
    font-family: stencilFontFamily("optimizedCheckout-headingPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-headingPrimary-font");
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    &:focus,
    &:hover {
        background-color: #000000;
    }
}

.button.button--primary {
    background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColor");
    border: 2px solid stencilColor("optimizedCheckout-buttonPrimary-borderColor");
    border-radius: 3px;
    color: stencilColor("optimizedCheckout-buttonPrimary-color");
    font-family: stencilFontFamily("optimizedCheckout-buttonPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-buttonPrimary-font");
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 700;
    &:focus,
    &:hover {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorHover");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorHover");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorHover");
    }
    &:active {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorActive");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorActive");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorActive");
    }
}

.dropdown-toggle--select {
    min-height: 40px;
    padding: 0.8rem 1rem;
    font-size: 12px;
    font-family: stencilFontFamily('optimizedCheckout-contentSecondary-font');
}

.form-select,
.form-input {
    font-family: stencilFontFamily('optimizedCheckout-contentSecondary-font');
    height: 40px;
    box-shadow: none;
}
.form-checkbox:checked+.form-label::before, .form-radio:checked+.form-label::before {
    background-color: #ffffff;
    border-color: #d0d0d0;
    border-radius: 0; 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
}
.form-checkbox+.form-label::after{
    background-image: none;
    content: "✔";
    color: #4c9e4c;
    font-size: 14px;

}
.paymentProviderHeader-name{
    font-size: 14px;
    color: #000;
}
.form-checkbox+.form-label::before {
    border-radius: 0;
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
}
a#checkout-customer-login {
    color: #2255a4;
    font-weight: 700;
    line-height: 1.3;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
}

a#checkout-customer-login:hover {
    border-bottom: 1px dotted #2255a4; 
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
}

.form-inlineMessage {
    font-size: 12px;
    font-family: stencilFontFamily('optimizedCheckout-contentSecondary-font');
}

.customerView-actions > button {
    font-family: stencilFontFamily('optimizedCheckout-contentSecondary-font');
    font-weight: 400;
    padding-bottom: 5px;
    border: 1px solid #bababa;
    color: #303843;
    background-color: #ffffff;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.3;
    &:hover{
      color: #fff;
      background-color: #bababa;
      border: 1px solid #bababa; 
    }
}

.stepHeader-actions .button {
    font-family: stencilFontFamily('optimizedCheckout-contentSecondary-font');
    font-weight: 400;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #bababa;
    color: #303843;
    background-color: #ffffff;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.3;
    &:hover{
      color: #fff;
      background-color: #bababa;
      border: 1px solid #bababa; 
    }
}
.form-label{
     font-family: stencilFontFamily('optimizedCheckout-contentSecondary-font');
     font-weight: 700;
     color: #000;
}

.form-label small {
    font-size: 12px;
    color: #969696;
}

.form-checklist {
    border-top: 0; 
    border-left: 0; 
    border-right: 0; 
    border: 1px solid #cbcbcb;
}

.shippingOption {
    font-size: 14px;
}

.form-checklist-checkbox ~ .form-label {
    min-height: 50px;
    padding: 0.6rem 2.25rem 0.5rem 4.5rem;
}

.optimizedCheckout-form-input#order-comments {
    height: 80px;
}

#checkout-payment-continue {
    background-color: #fb641b;
    border-color: #fb641b;
    height: 52px;
    font-weight: 700;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 16px;
    &:hover {
        background: #4c9e4c;
        border-color: #4c9e4c;
        color: #fff;
    }
}

a[data-test="forgot-password-link"] {
    font-size: 12px;
    display: inline-block;
    margin-top: 15px;
}

#checkout-customer-continue {
    display: inline-block;
    vertical-align: middle;
}

#checkout-customer-cancel {
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColor");
    border: 2px solid stencilColor("optimizedCheckout-buttonSecondary-borderColor");
    color: stencilColor("optimizedCheckout-buttonSecondary-color");
    font-family: stencilFontFamily("optimizedCheckout-buttonSecondary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-buttonSecondary-font");
    height: 40px;
    border-radius: 3px;
    padding-top: 0;
    padding-bottom: 0;
    &:focus,
    &:hover {
        background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColorHover");
        border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColorHover");
        color: stencilColor("optimizedCheckout-buttonSecondary-colorHover");
    }
    &:active {
        background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColorActive");
        border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColorActive");
        color: stencilColor("optimizedCheckout-buttonSecondary-colorActive");
    }
}

.cart-item.product {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

// optimized checkout
.checkoutHeader-content{
    padding: 25px 0;
}   

.checkout-step{
    padding: 0;
}
.orderConfirmation{
    h1{
        font-family: stencilFontFamily("optimizedCheckout-headingPrimary-font"), Arial, Helvetica, sans-serif;
        font-weight: stencilFontWeight("optimizedCheckout-headingPrimary-font"); 
    }
    .ng-checkout-container, .stepHeader-counter {
        font-family: 'Roboto';
    }
}
.socialBadges-row{
    .socialBadge-text {
        font-weight: normal;
    }
}

.orderConfirmation-section {
    font-family: stencilFontFamily("optimizedCheckout-contentSecondary-font"), Arial, Helvetica, sans-serif;
}

.checkout-step--shipping .form-actions{
    padding-top: 0;
    padding-bottom: 25px;
}
.customerView{
    .optimizedCheckout-contentPrimary{
        color: stencilColor("optimizedCheckout-linkcustomerView");
    }
}
