// =============================================================================
// STENCIL
// =============================================================================


// Tools
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's toolkit for use.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/tools/toolkit"; // 1
@import "tools/tools";

// Settings
// -----------------------------------------------------------------------------
//
// 1. Stencil global settings get imported first.
// 2. Import all Citadel and Foundation settings.
// 3. Import Citadel's version of foundation.
//      - This enables the ability to "null" variables in the Stencil settings.
// 4. Import Stencil's component settings overrides.
// 5. Import tools which set/reset Citadel's global settings, to be consumed by
//    the rest of Stencil.
//
// -----------------------------------------------------------------------------


// Fonts
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Karla:400,400i,700,700i|Poppins:300,400,500,600,700|Montserrat:400,600,700|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i,900,900i|Roboto+Condensed:400,400i,700,700i|Open+Sans:400,400i,600,700,700i|Oswald:400,700|Source+Sans+Pro:400,400i|Lato:300,400,700,900');
@font-face {
     font-family:"Bebas Neue";
     src:url("../fonts/bebas-neue/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix");
     src:url("../fonts/bebas-neue/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"),url("../fonts/bebas-neue/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"),url("../fonts/bebas-neue/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"),url("../fonts/bebas-neue/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype"),url("../fonts/bebas-neue/849e0009-7435-46a3-b88d-c41c3ff639d4.svg#849e0009-7435-46a3-b88d-c41c3ff639d4") format("svg");
}
@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i&display=swap');
@import "font-awesome/font-awesome";

@import "animate-min";
@import "owl-carousel-min";
@import "mCustomScrollbar-min";
@import "magnific-popup";

@import "settings/global/global"; // 1

@import "../../node_modules/@bigcommerce/citadel/dist/settings/global/global"; // 2

@import "settings/global/tools"; // 5

@import "../../node_modules/@bigcommerce/citadel/dist/settings/normalize/normalize"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/foundation/foundation"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/bigcommerce/bigcommerce"; // 2

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/foundation/foundation"; // 3

@import "settings/normalize/normalize"; // 4
@import "settings/vendor/vendor"; // 4
@import "settings/foundation/foundation"; // 4
@import "settings/citadel/citadel"; // 4
@import "settings/stencil/stencil"; // 4
@import "settings/layouts/layouts"; // 4


/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/alerts";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";



// Utilities
// -----------------------------------------------------------------------------

@import "utilities/utilities";
@import "../../node_modules/@bigcommerce/citadel/dist/utilities/utilities";


// Components
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's normalize dependency.
// 2. Import Citadel's components.
// 2. Import Stencil's component additions and custom components.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/normalize/normalize"; // 1
@import "../../node_modules/@bigcommerce/citadel/dist/components/components"; // 2
@import "components/components"; // 3


// Layouts
// -----------------------------------------------------------------------------
//
// 1. Stencil design layout files (example: Header or Footer).
//
// -----------------------------------------------------------------------------

@import "layouts/layouts"; // 1

@import "vendor/jstree/style";
@import "custom";
@import "landing-page";
@import "slick.min";
