<div id="Brands-Slider" class="wow fadeIn">
   <div class="home-heading">
      <h2><span style="font-size: 20px; font-weight: 700; color: #38383e; font-family: Roboto Condensed;">FEATURED BRANDS</span></h2>
            <div style="width: 40px; margin: auto; margin-bottom: 20px; border-bottom: 2px solid #00b9e4;"></div>
   </div>
   
<div class="brands-list owl-carousel" data-owl='{
            "items": 7,
            "nav": true,
            "margin": 30,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "420": {
                  "items": 2,
                  "slideBy": 2
               },
               "560": {
                  "items": 4,
                  "slideBy": 4
               },
               "768": {
                  "items": 5,
                  "slideBy": 5
               },
               "992": {
                  "items": 6,
                  "slideBy": 6
               },
               "1200": {
                  "items": 7,
                  "slideBy": 7
               }
            },
            "responsiveRefreshRate": 0
         }'>
      <a href="/brands/Zogics.html" title="Zogics"><img src="/product_images/uploaded_images/zogics-170x60.png" alt="Zogics" /></a>
      <a href="https://zogics.com/kettlebell-kings/" title="Kettlebell Kings"><img src="/product_images/uploaded_images/kettlebellkings-170x60.png" alt="Kettlebell Kings" /></a>
      <a href="/brands/Protexus.html" title="Protexus"><img src="/product_images/uploaded_images/protex-us.jpg" alt="ProtexUs" /></a>
      <a href="/brands/Beekman-1802.html" title="Beekman 1802"><img src="/product_images/uploaded_images/beekman-170x60.png" alt="Beekman 1802" /></a>
      <a href="/brands/Philips.html" title="Philips"><img src="/product_images/uploaded_images/philips-170x60.png" alt="Philips" /></a>
      <a href="https://zogics.com/reebok/" title="Reebok"><img src="https://cdn11.bigcommerce.com/s-8mji1/product_images/uploaded_images/reebok-170x60.png" alt="Reebok" /></a>

  </div> 
</div>

