{{{stylesheet '/assets/scss/styles-revolution.css'}}}
<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
<script src="{{cdn 'assets/js/theme/halothemes/jquery.themepunch.plugins.min.js'}}"></script>
<script src="{{cdn 'assets/js/theme/halothemes/jquery.themepunch.revolution.min.js'}}"></script>


<div class="bannercontainer responsive fullwidthbanner-container">
<!-- Replacement Block Start -->
<div class="hl-story-pages custom-page page">
    <!-- BEGIN Block 1 -->
    <div class="full-width-one-banner body-care-story-header">
        <div class="banner-text banner-text-left">
            <img src="/product_images/uploaded_images/homepage-hero-10.jpg" alt="Financing" />
            <div class="container">
                <div class="banner-content" style="padding-bottom: 50px;">
                    <div class="inner" style="width: 50%;">
                        <h1 style="font-size: 40px; line-height: 50px; color: #38383e;">19 WAYS TO IMPROVE YOUR GYM'S PROFITS IN 2019</h1>
                        <p><span style="color: #38383e;">Step it up and get ready to leap into your best year yet. <strong>Here are 19 ways Zogics will prepare you and your facility for success in 2019.</strong></span></p>
                        <a class="btn btn-module-heading" href="#form">LET’S GET STARTED <svg><use xlink:href="#icon-arrow-right"></use></svg></a>
                    </div>
                </div>
            </div>
        </div> <!--end full-width-one-banner banner-text-right -->
    </div> <!--end full-width-one-banner -->
   <!-- END Block 1 -->
</div>
<!-- Replacement Block End -->

<!-- 
    <div class="revolution-banner tp-simpleresponsive" style="height: 500px;">
        <ul> 
            <li>
                <div class="slotholder"><img src="/product_images/uploaded_images/homepage-hero-10.jpg" class="defaultimg" style="height: 500px;"></div>
                <div class="caption lft very_big_white start" data-x="0" data-y="60" data-speed="900" data-start="1000" data-easing="easeOutBack" style="font-size: 60.734px; padding: 0px 4.04894px; margin: 10px 0px; border-width: 0px; border-style: initial; border-color: initial; line-height: 60px; opacity: 1; left: 11.5px; top: 60px;">19 WAYS TO IMPROVE YOUR GYM'S PROFITS IN 2019</div>
                <div class="caption lft big_orange start" data-x="0" data-y="260" data-speed="900" data-start="1200" data-easing="easeOutBack" style="font-size: 16.1957px; color: #38383e; padding: 0px 4.04894px; margin: 5px 0px; border-width: 0px; border-style: initial; border-color: initial; line-height: 36px; opacity: 1; left: 11.5px; top: 260px;"><span>Step it up and get ready to leap into your best year yet. <strong>Here are 19 ways Zogics will prepare you and your facility for succcess in 2019.</strong></span></div>
                <div class="caption lft start slider-btn" data-x="0" data-y="400" data-speed="300" data-start="1000" data-easing="easeOutExpo" style="font-size: 14.1713px; padding: 0px; margin: 0px; border-width: 0px; border-style: initial; border-color: initial; line-height: 20px; opacity: 1; left: 11.5px; top: 400px;"><span><a href="/main-story" title="LET’S GET STARTED" class="btn btn-module-heading">LET’S GET STARTED <svg><use xlink:href="#icon-arrow-right"></use></svg></a></span></div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>  
    </div>
-->
</div>
<style>
    .revolution-banner >ul li {
        visibility: visible !important;
    }
    .revolution-banner ul {
        margin: 0 !important;
    }
    .revolution-banner > ul li img{
        width: 100%;
    }
    .tp-simpleresponsive >ul li {
        opacity: 1 !important;
    }
    .tp-simpleresponsive >ul li {
        position: relative !important;
    }
</style>
