<div id="homeBrands">
<div class="home-heading" style="max-width: 1300px;">
    <h2 style="padding-top: 15px;"><span style="font-weight: 700; color: #fff; font-family: Roboto Condensed;">SHOP THE BRANDS YOU LOVE</span></h2>
    <div style="width: 40px; margin: auto; margin-bottom: 25px; border-bottom: 2px solid #00b9e4;"></div>
    <div class="brands-list mobile owl-carousel ocw" style="color: #fff;" data-owl='{
            "items": 5,
            "nav": true,
            "margin": 30,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "420": {
                  "items": 2,
                  "slideBy": 2
               },
               "560": {
                  "items": 3,
                  "slideBy": 3
               },
               "768": {
                  "items": 4,
                  "slideBy": 4
               },
               "992": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 5,
                  "slideBy": 5
               }
            },
            "responsiveRefreshRate": 0
         }'>
      <a href="/brands/Zogics.html" title="zogics"><img src="/product_images/uploaded_images/zogics-wh.png" alt="Zogics" /></a>
      <a href="/brands/SKLZ.html" title="sklz"><img src="/product_images/uploaded_images/sklz-wh.png" alt="SKLZ" /></a>
      <a href="/brands/Excel.html" title="excel"><img src="/product_images/uploaded_images/excel-wh.png" alt="Excel" /></a>
      <a href="/brands/Beekman-1802.html" title="beekman"><img src="/product_images/uploaded_images/beekman-wh.png" alt="Beekman 1802" /></a>
      <a href="/brands/Philips.html" title="philips"><img src="/product_images/uploaded_images/philips-wh.png" alt="Philips" /></a>
      <a href="/brands/m-a-matting/" title="m+a matting"><img src="/product_images/uploaded_images/m-a-matting-wh.png" alt="M+A Matting" /></a>
      <a href="/brands/Bosu.html" title="bosu"><img src="/product_images/uploaded_images/bosu-wh.png" alt="Bosu" /></a>
      <a href="/brands/Paya.html" title="paya"><img src="/product_images/uploaded_images/paya-wh.png" alt="Paya" /></a>
      <a href="/brands/Elkay.html" title="elkay"><img src="/product_images/uploaded_images/elkay-wh.png" alt="Elkay" /></a>
      <a href="/brands/Stroops.html" title="stroops"><img src="/product_images/uploaded_images/stroops-wh.png" alt="Stroops" /></a>
      <a href="/brands/Boardwalk.html" title="boardwalk"><img src="/product_images/uploaded_images/boardwalk-wh.png" alt="Boardwalk" /></a>
      <a href="/brands/Power-Systems.html" title="power systems"><img src="/product_images/uploaded_images/power-system-wh.png" alt="Power Systems" /></a>
      <a href="/brands/kimberly-clark" title="kimberly-clark"><img src="/product_images/uploaded_images/kimberly-clark-wh.png" alt="Kimberly-Clark" /></a>
      <a href="/brands/ZOLL.html" title="zoll"><img src="/product_images/uploaded_images/zoll-wh.png" alt="Zoll" /></a>
      <a href="/brands/1888-Mills.html" title="1888-mills"><img src="/product_images/uploaded_images/1888-mills-wh.png" alt="1888 Mills" /></a>
      <a href="/brands/Power-Plate.html" title="power-plate"><img src="/product_images/uploaded_images/power-plate-wh.png" alt="Power Plate" /></a>
      <a href="/brands/TRX.html" title="trx"><img src="/product_images/uploaded_images/trx-wh.png" alt="TRX" /></a>
      <a href="/brands/Purell.html" title="purell"><img src="/product_images/uploaded_images/purell.png" alt="Purell" /></a>
  </div> 

      <a class="zogics-or-button" style="margin-top: 15px;" href="/brands/">SHOP ALL BRANDS</a>
   </div>
   
   <!-- Start: The Brand Slider Mobile Version -->
   <!--
   
  <div class="brands-list mobile hidden-md hidden-lg owl-carousel" data-owl='{
            "items": 5,
            "nav": true,
            "margin": 30,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "420": {
                  "items": 2,
                  "slideBy": 2
               },
               "560": {
                  "items": 3,
                  "slideBy": 3
               },
               "768": {
                  "items": 4,
                  "slideBy": 4
               },
               "992": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 5,
                  "slideBy": 5
               }
            },
            "responsiveRefreshRate": 0
         }'>
      <a href="/zogics/" title="zogics"><img src="/product_images/uploaded_images/zogics.png" alt="Zogics" /></a>
      <a href="/sklz/" title="sklz"><img src="/product_images/uploaded_images/sklz.png" alt="SKLZ" /></a>
      <a href="/excel/" title="excel"><img src="/product_images/uploaded_images/excel.png" alt="excel" /></a>
      <a href="/beekman-1802/" title="beekman"><img src="/product_images/uploaded_images/beek-man.png" alt="Beekman 1802" /></a>
      <a href="/york-barbell/" title="york-barbell"><img src="/product_images/uploaded_images/york-barbell.png" alt="York Barbell" /></a>
      <a href="/philips" title="philips"><img src="/product_images/uploaded_images/philips.png" alt="Philips" /></a>
      <a href="/m-a-matting/" title="m+a matting"><img src="/product_images/uploaded_images/m-a-matting.png" alt="M+A Matting" /></a>
      <a href="/bosu/" title="bosu"><img src="/product_images/uploaded_images/bosu.png" alt="Bosu" /></a>
      <a href="/paya" title="paya"><img src="/product_images/uploaded_images/paya.png" alt="Paya" /></a>
      <a href="/elkay/" title="elkay"><img src="/product_images/uploaded_images/elkay.png" alt="Elkay" /></a>
      <a href="/stroops/" title="stroops"><img src="/product_images/uploaded_images/stroops.png" alt="Stroops" /></a>
      <a href="/boardwalk/" title="boardwalk"><img src="/product_images/uploaded_images/boardwalk.png" alt="Boardwalk" /></a>
      <a href="/power-systems/" title="power systems"><img src="/product_images/uploaded_images/power-system.png" alt="Power Systems" /></a>
      <a href="/kimberly-clark/" title="kimberly-clark"><img src="/product_images/uploaded_images/kimberly-clark.png" alt="Kimberly-Clark" /></a>
      <a href="/zoll/" title="zoll"><img src="/product_images/uploaded_images/zoll.png" alt="Zoll" /></a>
      <a href="/1888-mills/" title="1888-mills"><img src="/product_images/uploaded_images/1888-mills.png" alt="1888 Mills" /></a>
      <a href="/power-plate/" title="power-plate"><img src="/product_images/uploaded_images/power-plate.png" alt="Power Plate" /></a>
      <a href="/trx/" title="trx"><img src="/product_images/uploaded_images/trx.png" alt="TRX" /></a>
      <a href="/purell/" title="purell"><img src="/product_images/uploaded_images/purell.png" alt="Purell" /></a>
  </div> 
  
  -->
  <!-- End: The Brand Slider Mobile Version -->
  
  <!-- Start: The Brand Slider Desktop Version -->
  <!--  Uncomment to restore full size version 
<div class="brands-list desktop hidden-sm hidden-xs" style="margin-bottom: -40px;">
      <a href="/zogics/" title="zogics"><img src="/product_images/uploaded_images/zogics.png" alt="Zogics" /></a>
      <a href="/sklz/" title="sklz"><img src="/product_images/uploaded_images/sklz.png" alt="sklz" /></a>
      <a href="/excel/" title="excel"><img src="/product_images/uploaded_images/excel.png" alt="Excel" /></a>
      <a href="/beekman-1802/" title="beekman"><img src="/product_images/uploaded_images/beek-man.png" alt="Beekman 1802" /></a>
      <a href="/york-barbell/" title="york-barbell"><img src="/product_images/uploaded_images/york-barbell.png" alt="York Barbell" /></a>
      <a href="/philips" title="philips"><img src="/product_images/uploaded_images/philips.png" alt="Philips" /></a>
      <a href="/m-a-matting/" title="m+a matting"><img src="/product_images/uploaded_images/m-a-matting.png" alt="M+A Matting" /></a>
      <a href="/bosu/" title="bosu"><img src="/product_images/uploaded_images/bosu.png" alt="Bosu" /></a>
      <a href="/paya/" title="paya"><img src="/product_images/uploaded_images/paya.png" alt="Paya" /></a>
      <a href="/elkay/" title="elkay"><img src="/product_images/uploaded_images/elkay.png" alt="Elkay" /></a>
      <a href="/stroops/" title="stroops"><img src="/product_images/uploaded_images/stroops.png" alt="Stroops" /></a>
      <a href="/boardwalk/" title="boardwalk"><img src="/product_images/uploaded_images/boardwalk.png" alt="Boardwalk" /></a>
      <a href="/power-systems/" title="Power Systems"><img src="/product_images/uploaded_images/power-system.png" alt="Power Systems" /></a>
      <a href="/kimberly-clark/" title="kimberly-clark"><img src="/product_images/uploaded_images/kimberly-clark.png" alt="Kimberly-Clark" /></a>
      <a href="/zoll/" title="zoll"><img src="/product_images/uploaded_images/zoll.png" alt="Zoll" /></a>
      <a href="/1888-mills" title="1888-mills"><img src="/product_images/uploaded_images/1888-mills.png" alt="1888 Mills" /></a>
      <a href="/power-plate/" title="power-plate"><img src="/product_images/uploaded_images/power-plate.png" alt="Power Plate" /></a>
      <a href="/trx/" title="trx"><img src="/product_images/uploaded_images/trx.png" alt="TRX" /></a>
      <a href="/purell/" title="purell"><img src="/product_images/uploaded_images/purell.png" alt="Purell" /></a>
  </div>
  -->
  <!-- End: The Brand Slider Desktop Version -->
</div>

