<div id="homeTopBanners">
    <div class="container">
        <!-- Begin Banners -->
        <div class="row">
            <div class="col-sm-6 banner-item wow fadeInUp animated" data-wow-delay="100ms">
                <a title="Bundle" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/two-banner-1.jpg" alt="Bundle" />
                </a>
            </div>
            <div class="col-sm-6 banner-item wow fadeInUp animated" data-wow-delay="300ms">
                <a title="Imac" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/two-banner-2.jpg" alt="Imac" />
                </a>
            </div>
        </div>
        <!-- End Banners -->        
    </div>
</div>
