<div class="featured-brands wow fadeIn">
    <h3 class="module-heading"><span>Featured Brands</span></h3>
    <section class="brandCarousel owl-carousel"
    data-owl='{
        "nav": true,
        "dots": false,
        "items": 5,
        "margin": 30,
        "slideBy": 5,
        "responsive": {
         "0": {
            "items": 1,
            "slideBy": 1
         },
         "480": {
            "items": 2,
            "slideBy": 2
         },
         "641": {
            "items": 2,
            "slideBy": 2
         },
         "768": {
            "items": 2,
            "slideBy": 2
         },
         "992": {
            "items": 3,
            "slideBy": 3
         },
         "1200": {
            "items": 5,
            "slideBy": 5
         }
      },
      "responsiveRefreshRate": 0
    }'>
    
    <div class="prod-item wow fadeIn">
        <div class="brands">
            <div class="images-brands banner-item">
                <a href="" title="" tabindex="0">                        
                    <img src="/product_images/uploaded_images/featured-brands-1.jpg" alt="">
                </a>
            </div>
            <div class="content-brands">
                <h3 class="brands-title">Android Tablets</h3>
                <div class="des-brands">
                    <div class="brands-text">Upto 30% Off</div>
                    <div class="brands_btn">
                        <a href="" class="btn" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="prod-item wow fadeIn">
        <div class="brands">
            <div class="images-brands banner-item">
                <a href="" title="" tabindex="0">                        
                    <img src="/product_images/uploaded_images/featured-brands-2.jpg" alt="">
                </a>
            </div>
            <div class="content-brands">
                <h3 class="brands-title">Frypan & Cookware</h3>
                <div class="des-brands">
                    <div class="brands-text">Upto 30% Off</div>
                    <div class="brands_btn">
                        <a href="" class="btn" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="prod-item wow fadeIn">
        <div class="brands">
            <div class="images-brands banner-item">
                <a href="" title="" tabindex="0">                        
                    <img src="/product_images/uploaded_images/featured-brands-3.jpg" alt="">
                </a>
            </div>
            <div class="content-brands">
                <h3 class="brands-title">Video Games & Systems</h3>
                <div class="des-brands">
                    <div class="brands-text">Upto 30% Off</div>
                    <div class="brands_btn">
                        <a href="" class="btn" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="prod-item wow fadeIn">
        <div class="brands">
            <div class="images-brands banner-item">
                <a href="" title="" tabindex="0">                        
                    <img src="/product_images/uploaded_images/featured-brands-4.jpg" alt="">
                </a>
            </div>
            <div class="content-brands">
                <h3 class="brands-title">Cameras & Camcorders</h3>
                <div class="des-brands">
                    <div class="brands-text">Upto 30% Off</div>
                    <div class="brands_btn">
                        <a href="" class="btn" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="prod-item wow fadeIn">
        <div class="brands">
            <div class="images-brands banner-item">
                <a href="" title="" tabindex="0">                        
                    <img src="/product_images/uploaded_images/featured-brands-5.jpg" alt="">
                </a>
            </div>
            <div class="content-brands">
                <h3 class="brands-title">Cameras & Camcorders</h3>
                <div class="des-brands">
                    <div class="brands-text">Upto 30% Off</div>
                    <div class="brands_btn">
                        <a href="" class="btn" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="prod-item wow fadeIn">
        <div class="brands">
            <div class="images-brands banner-item">
                <a href="" title="" tabindex="0">                        
                    <img src="/product_images/uploaded_images/featured-brands-1.jpg" alt="">
                </a>
            </div>
            <div class="content-brands">
                <h3 class="brands-title">Cameras & Camcorders</h3>
                <div class="des-brands">
                    <div class="brands-text">Upto 30% Off</div>
                    <div class="brands_btn">
                        <a href="" class="btn" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
    
</section>
</div>
