{{#if template_file '===' 'pages/category'}}
<div id="sidebar-toggle" class="hide"><a href="javascript:void(0);"><span class="title-sidebar-toggle">Show Filter Option</span> <span class="btn-sidebar-toggle" href="javascript:void(0);"> <i class="fa fa-plus"></i></span></a></div>
{{else}}
<div id="sidebar-toggle" class="hide"><a href="javascript:void(0);"><span class="title-sidebar-toggle">Browse by Sidebar</span> <span class="btn-sidebar-toggle" href="javascript:void(0);"> <i class="fa fa-plus"></i></span></a></div>
{{/if}}
