  <div class="navBar-wrapper">  
  	<h3>Our Company</h3>
    <ul class="all-pages-list">
        <li class="navBar-item">
            <a class="navBar-action" href="/welcome-to-zogics/">Welcome to zogics <i class="fa fa-angle-right"></i></a>
        </li>
        <li class="navBar-item">
            <a class="navBar-action" href="/main-story/">What We Do <i class="fa fa-angle-right"></i></a>
        </li>
		<li class="navBar-item">
            <a class="navBar-action" href="/meet-the-team/">Meet the team <i class="fa fa-angle-right"></i></a>
        </li>
        <li class="navBar-item">
            <a class="navBar-action" href="/the-dogs-of-zogics/">The dogs of Zogics <i class="fa fa-angle-right"></i></a>
        </li>
        <li class="navBar-item">
            <a class="navBar-action" href="/careers/">Careers <i class="fa fa-angle-right"></i></a>
        </li>
        <li class="navBar-item">
            <a class="navBar-action" href="/in-the-press/">In The Press <i class="fa fa-angle-right"></i></a>
        </li>
    </ul>
  </div>
