<p>Nam vel euismod magna. Nunc auctor auctor massa. Maecenas vel lorem eget risus pellentesque dehicula quis vitae nulla. Mauris eleifend tristique ante non hendrerit libero gravida eu. Aliquam velos marcu aliquam pulvinar enim eu elementum risus.</p>
<div class="rating-compare">
    <div class="star-rating" data-test-info-type="productRating">
        <div class="rating--small">
            <i class="fa fa-star color"></i>
            <i class="fa fa-star color"></i>
            <i class="fa fa-star color"></i>
            <i class="fa fa-star color"></i>
            <i class="fa fa-star"></i>
            <!-- snippet location product_rating -->
        </div>
    </div>
</div>
<p class="name-author"><span>John Smith</span> - Customer</p>
