pad-content// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog {
    margin-bottom: spacing("single");
    padding: spacing("double");
    padding-top: 0;
    @include breakpoint("medium") {
        margin: auto;
        width: 100%;
    }
    + .blog {
        border-top: container("border");
        padding-top: spacing("double");
        .blog-title {
            padding-top: 0;
        }
    }

    .tags {
        margin-top: spacing("double");
        text-align: left;
    }

    .socialLinks {
        text-align: left;
    }

    // scss-lint:disable SelectorFormat
    .addthis_toolbox {
        margin-top: spacing("double");
    }
    // scss-lint:enable SelectorFormat

    blockquote, blockquote p {
        font-size: 12px;
        line-height: 18px;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .blog-post{
        h1, h2, h3, h4, h5, h6 {
            position: relative;
            padding-left: 16px;
            &:before{
                content: "\f054";
                color: #ea8e0a;
                position: absolute;
                left: 0;
                top: 4px;
                font: normal normal normal 9px/1 FontAwesome;
            }
        }
    }
}


.blog-title {
    margin: 0 0 spacing("base") 0;
    font-family: $fontFamily-headings;
    font-weight: 700;
    padding: 15px 0px 16px;
    margin-bottom: 0;
    font-size: 20px;
    @media (max-width: 480px) {
        font-size: 20px;
    }
    a {
        text-decoration: none;        
        color: $anchor-font-color-hover;
        &:hover{
            color: $anchor-font-color;
        }

    }
    
}
.brg-content{
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;    
    border-bottom: 1px solid #dcdcdc;
    border-radius: 3px;
    overflow: hidden;
}
.page-type-blog .brg-content {
    padding: 20px;
}
.pad-content{
   padding: 30px;

}
.page-type-search {
    .brg-content{
        .page-content{
            padding: 30px;
        }
        & .pad-content {
            @media (max-width: 767px) {
                padding: 30px 15px;
            }
            @media (max-width: 550px) {
                padding: 15px;
            }
        }
    }
}
.page-type-blog_post {  
    .brg-content{
        .blog{
            padding: 30px;
        }
    }
    .blog-title{
        padding-top: 0;
        margin-bottom: -3px;
        font-size: 20px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 20px;
        text-transform: inherit;
    }
}
.blog-date,
.blog-author {
    color: stencilColor("color-textSecondary");
    text-align: left;
}
.blog-date {
    margin-bottom: 26px;
}
.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    font-size: fontSize("base");
    text-align: left;
    margin-bottom: 20px;
}

.blog-thumbnail {
    margin: 0 0 (spacing("base") * 2);
    margin-bottom: 36px;
    text-align: center;
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: left;

}

.blog-post-body {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 100%;

}

.blog-readmore {
    border-width: 1px;
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 20px;
    font-family: stencilFontFamily('body-font'), Arial, Helvetica, sans-serif;
    color: $anchor-font-color;
    height: 40px;
    font-weight: 700;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    &:hover {
        color: $anchor-font-color-hover;
    }
    & ~ ul.tags {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
