// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================
// Product view layout
// -----------------------------------------------------------------------------
.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

#relatedProducts.module-wrapper,
#similarByViews.module-wrapper,
#reviews-product.module-wrapper {
    border: 1px solid stencilColor('border-base-color');
    background-color: #ffffff;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
    @media (max-width: 991px) {
        margin-bottom: 25px;
    }
}

#reviews-product {
    .toggle-title {
        font-family: $fontFamily-headings;
        background: #ffffff;
        border-bottom: 1px solid stencilColor('border-base-color');
        padding-top: 0;
        padding: 14px 30px 13px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        letter-spacing: 0;
        text-align: left;
        font-weight: bold;
        color: #2f2f2f;
        line-height: 1.1;
        text-transform: uppercase;
        a.toggleLink span {
            color: #969696;
            font-size: 12px;
            text-transform: capitalize;
        }
        i.fa {
            font-size: 12px;
            color: #969696;
        }
    }
    .toggle-content {
        padding: 30px;
        &.is-open {
            display: block;
        }
    }
}

.productView {
    .productViewTop,
    .productView-description {
        border: 1px solid stencilColor('border-base-color');
        background-color: #ffffff;
         -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 30px;
        overflow: hidden;
        & .tab-description {
            & a {
                color: stencilColor('color-textLinkSecondary');
                &:hover {
                    color: stencilColor('color-textLinkSecondary--hover');
                    text-decoration: underline;
                }
            }
        }
    }
    .productViewTop {
        padding: 30px;
        padding-bottom: 25px;
        @media (max-width: 991px) {
            padding-bottom: 0;
            margin-bottom: 20px;
        }
        @media (max-width: 480px) {
            padding: 30px 15px;
        }
        & .productView-images {
            padding-right: 65px;
            padding-left: 40px;
            padding-bottom: 80px;
            position: relative;
            @media (max-width: 991px) {
                padding-bottom: 20px;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        & .share-social-media {
            position: absolute;
            bottom: -10px;
            left: 15px;
            @media (max-width: 991px) {
                right: 0;
                left: auto;
                bottom: 10px;
            }
             @media (max-width: 580px) {
                position: relative;
                right: auto;
                bottom: auto;
                margin-top: 10px;
             }
        }
    }
    .modal & {
        padding-bottom: 0;
        padding-top: 37px;
    }
    & .zoom-help {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        clear: both;
        justify-content: center;
        align-items: center;
        color: #a0a0a0;
        display: none;
        & i.fa {
            margin-left: 12px;
            font-size: 14px;
        }
    }
    &.productView--quickView {
        & .productViewTop {
            padding: 30px;
            margin-bottom: 0px;
        }
    }
    & .productView-details {
        & .productView-options {
            margin-bottom: 0;
            & [data-cart-item-add] > button#form-action-addToCart {
                margin-bottom: 0;
                @media (max-width: 580px) {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .productView-brand {
        color: #a9a9a9;
        font-size: 13px;
        letter-spacing: 0;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        margin: 0 0 25px;
        font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
        a {
            color: #a9a9a9;
            &:hover {
                color: #000;
                border-bottom: 1px solid #000;
            }
        }
    }
    & .productView-description-section {
        & .productView-description {
            padding-right: 30px;
            padding-left: 0;
            @media (max-width: 1199px) {
                padding-right: 0;
            }
            @media (max-width: 991px) {
                width: 100%;
                margin-bottom: 25px;
            }
        }
        & #specifications-tab-content {
            & dt {
                width: 40%;
                display: inline-block;
            }
            & dd {
                width: 60%;
                display: inline-block;
                margin-bottom: 10px;
            }
            & td {
                padding: 3px;
            }
            & td:first-child {
                font-weight: bold;
            }
        }
        & #support-documents-tab-content {
            & a.btn {
                color: stencilColor('color-white');
                 -o-border-radius: 10px;
                -ms-border-radius: 10px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px;
                margin-bottom: 15px;
                width: 210px;
                min-height: 60px;
                flex-wrap: wrap;
                 display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                padding: 12px 37px 12px 12px;
                font-size: 14px;
                position:relative;
                background: #38383e;
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    width: 13px;
                    height: 21px;
                    margin-top: -12px;
                    background: url("/assets/img/download-icon.png") no-repeat;
                }
                & span {
                    color: stencilColor('main-color');
                    display: block;
                }
            }
        }
        & .productView-description-right {
            padding-right: 0;
            padding-left: 10px;
            & .tab {
                padding: 15px 10px;
                width: 100%;
                margin-bottom: 10px;
                & h5 {
                    margin-top: 0;
                    margin-bottom: 18px;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: .015em;
                    position: relative;
                    padding-left: 15px;
                    text-transform: capitalize;
                    &:before {
                        content: '\f054';
                        font-size: 10px;
                        font-weight: 300;
                        font-family: "FontAwesome";
                        color: stencilColor('main-color');
                        position: absolute;
                        top: 4px;
                        left: 0;
                    }
                }
                & .specifications-info {
                    & dt {
                        width: 40%;
                        display: inline-block;
                    }
                    & dd {
                        width: 60%;
                        display: inline-block;
                        margin-bottom: 10px;
                    }
                }
            }
            & .Specifications {

            }
            & .Support-Documents {
                & a.btn {
                    color: stencilColor('color-white');
                     -o-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                    margin-bottom: 15px;
                    width: 210px;
                    min-height: 60px;
                    flex-wrap: wrap;
                     display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    padding: 12px 37px 12px 12px;
                    font-size: 14px;
                    position:relative;
                    background: #38383e;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        width: 13px;
                        height: 21px;
                        margin-top: -12px;
                        background: url("/assets/img/download-icon.png") no-repeat;
                    }
                    & span {
                        color: stencilColor('main-color');
                        display: block;
                    }
                }
            }
        }
    }
}

// Images
// -----------------------------------------------------------------------------
.productView-image {
    align-items: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    margin: 0 0 10px;
    & img {
        width: 100%;
        &:hover {
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }
    }
    & .productView-image--default {
        width: auto;
    }
    &~.productView-thumbnails {
        // width: calc(100% - 140px);
        // margin-top: 20px;
        // margin-left: auto;
        // margin-right: auto;
        & .owl-stage {
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
        }
    }
}

.productView-thumbnails {
    text-align: center;
    position: relative;
    padding: 0 50px;
    & a {
        display: inline-block;
        & img {
            -moz-transform-style: unset;
            -webkit-transform-style: unset;
            transform-style: unset;
        }
    }

    & .owl-nav>div {
        top: 48%;
        position: absolute;
        background: transparent;
        border: 0;
        width: 37px;
        height: 37px;
        &:hover {
            color: #228dd6;
        }
        &.owl-prev {
            left: 15px;
            &::before {
                content: '\f053';
                color: #000;
                font-size: 20px;
            }
        }
        &.owl-next {
            right: 15px;
            &::before {
                content: '\f054';
                color: #000;
                font-size: 20px;
            }
        }
    }
    & .productView-thumbnail-link {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: -1px;
            right: -1px;
            height: 2px;
            background: #000;
            opacity: 0;
        }
    }
    & .productView-thumbnail-link:hover {
        opacity: 0.3;
    }
    & .productView-thumbnail-link.is-active {
        &::after {
            opacity: 1;
        }
    }
    & .owl-item {
        & a {
            border-bottom: 2px solid transparent;
            padding-bottom: 10px;
        }
        & a.is-active {
            border-bottom: 2px solid #000;

        }
    }
}

// Details
// -----------------------------------------------------------------------------
.productView-details {
    margin-bottom: 50px;
    padding-left: 30px;
    @media (max-width: 991px) {
        margin-bottom: 0;
    }
    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.productView--quickView {
    & .productView-details {
        margin-bottom: 0;
    }
}


// Details - Product details
// -----------------------------------------------------------------------------
.productView-product {
    >:last-child {
        margin-bottom: 0;
    }
}

.productView-brand {
    & a {
        &:hover {
            border-bottom: 1px solid $anchor-font-color-hover;
        }
    }
}

.productView-title {
    font-size: 22px;
    font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: -7px 10px 12px 0;
    letter-spacing: 0;
    line-height: 1.5em;
    color: stencilColor('color-textHeading');
    @media (max-width: 767px) {
        margin-top: 0;
        padding-top: 5px;
    }
}

.productView-rating {
    margin-bottom: 16px;
    ;
    & i.fa {
        font-size: 13px;
        vertical-align: middle;
    }
}

.productView-reviewLink {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
    &+.productView-reviewLink {
        margin-left: 4px;
        display: none;
        @include breakpoint("small") {
            display: inline-block;
        }
        & a {
            border: 1px solid stencilColor('color-textLinkSecondary');
            color: stencilColor('color-textLinkSecondary');
            font-size: 8px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 2px 7px 3px 7px;
             -o-border-radius: 5px;
            -ms-border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            &:hover {
                border: 1px solid stencilColor('color-textLinkSecondary');
                color: stencilColor('color-textLinkSecondary');
                text-decoration: underline;
            }

        }
    }
    &>a {
        color: #000;
        &:hover {
            border-bottom: 1px solid #000;
        }
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .productView-reviewLink+.productView-reviewLink a {
        padding-top: 3px;
    }
}

.productView:not(.productView--quickView) {
    &.reviewLinkCount {
        cursor: pointer;
    }
}

// Details - Product price
// -----------------------------------------------------------------------------
.productView-price {
    font-family: stencilFontFamily('card-title-font'), Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-bottom: 25px;
    color: stencilColor('basic-price-color');
    .price-section {
        display: inline-block;
    }
    .price-section--saving {
        font-family: $fontFamily-sans;
        font-size: fontSize("base");
        letter-spacing: .035em;
        color: stencilColor('saving-price-color');
        background: stencilColor('saving-price-bgColor');
        font-weight: normal;
        padding: 0 10px;
        line-height: 25px;
        position: relative;
        border-radius: 3px;
        top: -3px;
        &:before {
            content: "\f0d9";
            color: stencilColor('saving-price-bgColor');
            position: absolute;
            left: -6px;
            top: 4px;
            font: normal normal normal 18px/1 FontAwesome;
        }
    }
    .price.price--rrp {
        color: stencilColor('retail-price-color');
        font-size: 18px;
        margin-right: 10px;
        letter-spacing: .015em;
        &~.price--withoutTax {
            color: stencilColor('sale-price-color');
            font-size: 24px;
            letter-spacing: .015em;
        }
    }
    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
    .price-section--withoutTax {
        font-size: 24px;
        margin-right: 15px;
        ~.price-section--saving {
            margin-top: 6px;
        }
    }
    p[translate] {
        color: $anchor-font-color-hover;
    }
}

// Details - Product Information
// -----------------------------------------------------------------------------
.productView-info {
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.productView-info-name,
.productView-info-value {
    float: left;
    letter-spacing: .015em;
}

.productView-info-name {
    clear: both;
    margin-bottom: spacing("eighth");
    margin-right: spacing("quarter");
    min-width: 110px;
    font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.productView-info-value {
    margin-bottom: spacing("base");
    margin-left: 7px;
}

[data-custom-field-name="has-size-chart"] {
    display: none;
}

// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 2. Resetting font due to inline-block whitespace issue.
//
// -----------------------------------------------------------------------------
.productView-options {
    clear: both;
    position: relative;
    @include clearfix;
    margin-bottom: 15px;
    @include breakpoint("small") {
        text-align: left;
    }
    .form-input[type="number"] {
        @include breakpoint("small") {
            width: 100px;
        }
    }
    .form {
        display: inline;
    }
    .wishlist-form {
        position: absolute;
        bottom: 0;
        width: 55%;
        left: 51%;
        display: none;
        @media (max-width: 480px) {
            position: static;
            min-width: 100%;
            width: 100%;
        }
        @media (max-width: 360px) {
            position: static;
            width: 100%;
        }
        @media (max-width: 1199px) and (min-width: 992px){
            position: static;
            width: 100%;
        }
    }
    .form-field {
        font-size: 0; // 2
        margin-bottom: 12px; // scss-lint:disable SelectorDepth, NestingDepth
        & .form-label {
            text-transform: uppercase;
            cursor: auto;
        }
        >.form-checkbox+.form-label,
        >.form-radio+.form-label {
            display: inline-block;
            margin-left: spacing("single");
            width: auto;
            @include breakpoint("small") {
                margin-left: 0;
                width: 100%;
            }
        }
        >.form-label:nth-of-type(2) {
            margin-left: 0;
        }
        input[type="file"] {
            font-size: fontSize("base");
        }
    }
    .form-select {
        border-radius: 0;
    }
    .qty-add-wrap {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-wrap: wrap;
        align-items: flex-end;
        & .form-field--increments {
            width: 155px;
        }
    }

    .form-field--increments {
        margin-bottom: 20px;
        & button {
            width: 36px;
            height: 36px;
            &[data-action="dec"] {
                & i.fa {
                    font-size: 12px;
                }
            }
            &[data-action="inc"] {
                & i.fa {
                    font-size: 12px;
                }
            }
        }
        & .form-input {
            height: 36px;
            border-radius: 0;
            font-weight: 700;
        }
    }
    .form-action {
        @include breakpoint("small") {
            float: left;
            padding: 0 remCalc(10);
            width: 50%;
        }
        @include breakpoint("medium") {
            float: none;
            padding: 0;
            width: auto;
        }
        @include breakpoint("large") {
            display: inline-block;
            margin-top: 1rem;
        } // scss-lint:disable SelectorDepth, NestingDepth
        .button {
            width: 100%;
            @include breakpoint("large") {
                margin-right: spacing("half");
                width: auto;
            }
        }
    }
    & .ask-an-expert {
        margin-bottom: 18px;
        width: 100%;
        & a, button {
            font-weight: 700;
            text-transform: uppercase;
            color: stencilColor('color-textLinkSecondary');
            position: relative;
            @media (max-width: 480px) {
                display: block;

            }
            &:hover {
                color: stencilColor('color-textLinkSecondary--hover');
                text-decoration: underline;
            }
            &+ a {
                padding-left: 10px;
                margin-left: 5px;
                @media (max-width: 480px) {
                    padding-left: 0;
                    margin-left: 0;
                    margin-top: 5px;
                }
                &:before {
                    content:"";
                    border-left: 2px solid #7a7a7e;
                    height: 11px;
                    position: absolute;
                    top: 2px;
                    left: 0px;
                    @media (max-width: 480px) {
                        display: none;
                    }
                }
            }
        }
    }
}

// Product list (with images)
// -----------------------------------------------------------------------------
.productOptions-list {
    border: $productOptions-list-border;
    list-style: none;
    margin: 0;
}

.productOptions-list-item {
    padding: $productOptions-list-item-padding;
    +.productOptions-list-item {
        border-top: $productOptions-list-item-borderTop;
    }
    .form-label {
        text-align: left;
        top: -2px; // 1
    }
}

.productOptions-list-item-figure,
.productOptions-list-item-content {
    display: table-cell;
    vertical-align: middle;
}

.productOptions-list-item-figure {
    width: $productOptions-list-item-figure-width;
}

.productOptions-list-item-content {
    padding-left: $productOptions-list-item-content-paddingLeft;
}

.out-stockWarp .btn {
    width: 51%;
    max-width: 100%;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0 25px;
    height: 52px;
    letter-spacing: 0;
    border: 0;
    font-size: 14px;
    & i.fa {
        font-size: 14px;
        margin-right: 10px;
        vertical-align: middle;
        color: stencilColor('detail-add-to-cart-color');
    }
    i.icon-cart {
        margin-right: 8px;
        width: 22px;
        height: 20px;
        position: relative;
        svg {
            height: 21px;
            width: 26px;
            fill: stencilColor('detail-add-to-cart-color');
            margin-right: 10px;
        }
    }
    @media (max-width: 480px) {
        min-width: 100%;
        width: 100%;
    }
    @media (max-width: 360px) {
        width: 100%;
    }
    @media (max-width: 1199px) and (min-width: 992px){
        width: 100%;
    }

}

[data-cart-item-add]>button#form-action-addToCart {
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0 25px;
    height: 52px;
    letter-spacing: 0;
    color: stencilColor('detail-add-to-cart-color');
    background: stencilColor('detail-add-to-cart-bgColor');
    border: 0;
    font-size: 14px;
    & i.fa {
        font-size: 14px;
        margin-right: 10px;
        vertical-align: middle;
        color: stencilColor('detail-add-to-cart-color');
    }
    i.icon-cart {
        display: inline-block;
        margin-right: 8px;
        width: 26px;
        height: 21px;
        position: relative;
        svg {
            height: 21px;
            width: 26px;
            fill: stencilColor('detail-add-to-cart-color');
            margin-right: 10px;
        }
    }
    &:hover {
        color: stencilColor('detail-add-to-cart-colorHover');
        background-color: stencilColor('detail-add-to-cart-bgColorHover');
        border-color: stencilColor('detail-add-to-cart-bgColorHover');
    }
    @media (max-width: 480px) {
        min-width: 100%;
        width: 100%;
    }
    @media (max-width: 360px) {
        width: 100%;
    }
   

}

[data-wishlist-add]>button {
    height: 52px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 0;
    font-weight: 500;
    font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
    background-color: #000;
    border: 2px solid stencilColor('detail-wishlist-add-bgColor');
    background: stencilColor('detail-wishlist-add-bgColor');

    & span {
        line-height: 1.3;
        display: inline-block;
        color: stencilColor('detail-wishlist-add-color');
        border-bottom: 1px solid #989898 ;
    }
    i {
        padding-right: 10px;
        font-size: 15px;
        color: #505050;
        position: relative;
        top: 3px;
    }
    &:hover {
        color: stencilColor('detail-wishlist-add-colorHover');
        background: stencilColor('detail-wishlist-add-bgColorHover');

        span {
            color: stencilColor('detail-wishlist-add-colorHover');
        }
        & i.fa {
            color: stencilColor('detail-wishlist-add-colorHover');
        }
    }
    &:active {
        border: 1px solid transparent;
    }
    &:focus {
        border: 1px solid transparent;
    }
}

// Share products
// -----------------------------------------------------------------------------
.shareProduct {
    text-align: center;
}

.addthis_toolbox ul.socialLinks {
    list-style: none;
    margin-left: 0;
    & li {
        display: inline-block;
    }
}

//Product Tags
ul.product-tags {
    margin: 0;
    padding-top: 20px;
    & li {
        display: inline-block;
        font-size: $tag-fontSize;
        margin-right: 10px;
        margin-bottom: 10px;
        font-style: italic;
        color: $tag-color;
        display: inline-block;
        padding: $tag-padding;
        text-decoration: $tag-textDecoration;
        background: #f7f7f7;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 2px;
        &:hover {
            color: $tag-color-hover;
            border-bottom-color: #ccc;
        }
    }
}

//Product Tabs
//Other Products
#relatedProducts,
#similarByViews {

    & .productCarousel {
         padding: 30px 20px 0 20px;
         @media (max-width: 991px){
            padding-bottom: 30px;
         }
    }
    &>h3 {
        font-family: $fontFamily-headings;
        background: #ffffff;
        padding-top: 0;
        border-bottom: 1px solid stencilColor('border-base-color');
        padding: 20px 30px 17px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        letter-spacing: 0;
        text-align: left;
        font-weight: bold;
        color: #2f2f2f;
        line-height: 1.1;
        text-transform: uppercase;
        @media (max-width: 380px) {
            padding: 20px 15px 17px 15px; 
        }
    }

    & .owl-nav>div {
        top: 25%;
        background: #5b5b5b;
        border: 0;
        width: 32px;
        height: 32px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        &:hover {
            background: #000000;
        }
        &.owl-prev {
            right: 50px;
            left: auto;
            top: -27px;
            &::before {
                content: '\f053';
                color: #fff;
                font-size: 14px;
            }
        }
        &.owl-next {
            right: 10px;
            left: auto;
            top: -27px;
            &::before {
                content: '\f054';
                color: #fff;
                font-size: 14px;
            }
        }
    }
}

#relatedProducts~#similarByViews h3 {}

.productReviews {
    & h5.productReview-title {
        font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
        letter-spacing: 0;
        font-size: 13px;
        color: #228dd6;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        margin-bottom: 7px;
    }
    & .productReview-rating {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 7px;
    }
    & .productReview-author {
        margin-bottom: 10px;
    }
    & a.btn[data-reveal-id="modal-review-form"] {
        margin-bottom: 30px;
    }
}

section.toggle {
    border: 0;
    margin-bottom: 0px !important;
    .toggle-content {
        padding-top: 10px;
        padding-bottom: 30px;
    }
}

section.toggle .toggle-title {
    cursor: pointer;
    font-size: 18px;
    font-family: stencilFontFamily('headings-font'), Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    align-items: center;
    & i.fa {
        font-size: 25px;
    }
    &.is-active {
        & i.fa::before {
            content: "\f106";
        }
    }
}

section.toggle:first-of-type {
    & .toggle-title {
        border-top: 0;
    }
}

#modal-size-chart-form {
    & .modal-content {
        padding: 30px 0;
    }
}

a[data-reveal-id="modal-size-chart-form"] {
    float: right;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    font-family: stencilFontFamily('card-title-font'), Arial, Helvetica, sans-serif;
    font-weight: 700;
    z-index: 10;
    &::before {
        content: "";
        display: inline-block;
        width: 28px;
        height: 15px;
        background: url('../img/size-chart-icon.png') center no-repeat;
        margin-right: 10px;
    }
}

.product-bottom {
    @media (min-width: 992px) {
        & > .right {
            padding-left: 50px;
        }
    }
    @media (max-width: 991px) {

        &>div {
            width: 100%;
            padding-left: 15px;
        }
        &>.right {
            margin-bottom: 40px;
        }
    }
}

.productAttributes-message {
    margin-bottom: 20px;
}

ul.paragraphTab {
    margin-top: 27px;
    margin-left: 0;
    li {
        list-style: none;
        @media (max-width: 991px){
            margin-bottom: 20px;
        }
        &:last-child{
            strong,
            span{
                border-bottom: 1px solid #dadada;
               
            }
            @media (max-width: 991px){
                 strong{                    
                    border-bottom: 0;
                 }
            }
        }
        strong {
            width: 27%;
            display: inline-block;
            font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
            font-weight: 700;
            letter-spacing: 0;
            font-size: 12px;
            padding: 5px 20px;
            border: 1px solid #dadada;
            border-bottom: 0;
            @media (max-width: 991px) {
                width: 100%;
            }
        }
        span{
            display: inline-block;
            padding: 5px 20px;
            width: calc(100% - 27%);
            border: 1px solid #dadada;
            border-left: 0;
            border-bottom: 0;
             @media (max-width: 991px) {
                width: 100%;
                border-left: 1px solid #dadada;
                border-bottom: 1px solid #dadada;
            }
        }
    }
}
