// =============================================================================
// PRODUCT LIST (CSS)
// =============================================================================
// Product list
// -----------------------------------------------------------------------------
.productList {
   @include u-listBullets("none");
   .product {
      // scss-lint:disable NestingDepth
      + .product {
         margin-top: spacing("base") * 4;
      }
   }
}

// Product list item
// -----------------------------------------------------------------------------
.listItem {
   @include breakpoint("small") {
      @include grid-row($behavior: "nest");
      display: table;
   }
}

.listItem-figure,
.listItem-body {
   @include breakpoint("small") {
      display: table-cell;
      vertical-align: top;
   }
   @include breakpoint("large") {
      vertical-align: middle;
   }
}

// List figure
// -----------------------------------------------------------------------------
.listItem-figure {
   margin: 0 0 spacing("single");
   @include breakpoint("small") {
      margin-bottom: 0;
      @include breakpoint("small") {
         padding-left: spacing("half");
         padding-right: spacing("half");
         width: grid-calc(3, $total-columns);
      }
   }
}

.listItem-image {
   width: 100%;
}

.listItem-body {
   @include breakpoint("small") {
      padding-left: spacing("base") + spacing("sixth");
      padding-right: spacing("half");
      width: grid-calc(9, $total-columns);
   }
}

// List content
// -----------------------------------------------------------------------------
.listItem-content {
   @include breakpoint("large") {
      display: table;
   }
}

.listItem-details,
.listItem-actions {
   @include breakpoint("large") {
      display: table-cell;
      vertical-align: top;
   }
}

// List details
// -----------------------------------------------------------------------------
.listItem-details {
   @include breakpoint("large") {
      padding-right: spacing("double") * 2;
      >:last-child {
         margin-bottom: 0;
      }
   }
}

.listItem-rating {
   margin-bottom: spacing("quarter");
}

.listItem-brand {
   color: color("greys", "light");
   font-size: fontSize("base");
   margin: 0 0 spacing("eighth");
   @include breakpoint("medium") {
      font-size: fontSize("smaller");
      margin-bottom: 0;
   }
}

.listItem-title {
   font-size: fontSize("smaller");
   margin: 0 0 spacing("eighth");
   @include breakpoint("medium") {
      font-size: fontSize("small");
   }
   > a {
      text-decoration: none;
   }
}

.listItem-price {
   margin-bottom: spacing("base");
   @include breakpoint("medium") {
      font-size: fontSize("small");
   }
}

// List actions
// -----------------------------------------------------------------------------
//
// 1. Magic number width to align closer to the intended design.
//
// -----------------------------------------------------------------------------
.listItem-actions {
   @include breakpoint("large") {
      vertical-align: middle;
      width: 22%; // 1
      .button--compare {
         @include buttonSize("small");
      }
   }
   .button {
      margin-bottom: 0;
      @include breakpoint("large") {
         width: 100%;
         // scss-lint:disable NestingDepth
         + .button {
            margin: spacing("half") 0 0;
         }
      }
   }
}

// Product list when sidebar is present
// -----------------------------------------------------------------------------
.page-sidebar + .page-content {
   .productList {
      // scss-lint:disable SelectorDepth, NestingDepth
      .listItem-details {
         @include breakpoint("large") {
            padding-right: spacing("double");
         }
      }
      .listItem-actions {
         @include breakpoint("large") {
            width: 30%;
         }
      }
   }
}

.module-wrapper.productList .productBlockContainer {
   margin-left: 0;
   margin-right: 0;
}

.module-wrapper.productList .productBlockContainer .prod-item {
   width: 100% !important;
   padding: 0 !important;
   & .card-figure {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      & .prod-image {
         width: 210px;
         margin-bottom: 0;
         @media (max-width: 480px) {
            width: 40%;
            min-width: 40%;
            & .btnQV {
               position: static;
               display: inline-block;
            }
         }
         a.btnWL {
             display: none;
             opacity: 1;
          }
      }
      & .prod-desc {
         width: calc(100% - 210px);
         padding-left: 30px;
         padding-bottom: 0px;
         text-align: left;
         & h4.prod-name {
            margin-bottom: 10px;
         }
         & .prod-summary {
            display: block;
            margin-bottom: 20px;
            & p {
               color: #2d2d2d;
               margin-bottom: 10px;
            }
         }
         & .star-rating {
            display: block !important;
            margin-bottom: 15px;
            opacity: 1;
            visibility: visible;
            
         }
         a.btnWL {
            span{
               font-weight: 400;
                color: #303030;
                font-size: 12px;
                letter-spacing: 0;
                border-bottom: 1px solid #989898;
                line-height: 1.3;
                display: inline-block;
            }
            i{
               padding-right: 10px;
               font-size: 15px;
               color: #505050;
            }
             &:hover{
               span,i{
                  color: $anchor-font-color-hover;
               }
             }
         }
         & .rating-compare{
            opacity: 1;
            visibility: visible;
         }
         .btn-compare {
            display: block;
            margin-top: 20px;
         }
         & .btnAbs{
              @media (max-width: 1199px){
                display: block!important;                
              }
              display: inline-block!important;
             margin-right: 20px;
             width: auto;
             min-width: 170px;
             margin-top: 12px;
         }
         & .btnATC {
            display: -moz-inline-flex !important;
            display: -webkit-inline-flex !important;
            display: inline-flex !important;
            margin-right: 25px;
            width: auto;
            min-width: 170px;
            border: 0;
            color: stencilColor('list-add-to-cart-color');
            background-color: stencilColor('list-add-to-cart-bgColor');
            i{
                padding-right: 10px;
                margin-top: 2px;
                font-size: 12px;
            }
            i.icon-cart{
                margin-right: 8px;
                width: 22px;
                height: 20px;
                position: relative;
                svg {
                    height: 25px;
                    width: 25px;
                    fill: #fff;
                    margin-right: 10px;
                }
              
            }
            &:hover {
               color: stencilColor('list-add-to-cart-colorHover');
               background-color: stencilColor('list-add-to-cart-bgColorHover');
            }
            @media (max-width: 1199px) {
               width: 100%;
               min-width: 100%;
               margin-bottom: 25px;
               margin-right: 0;
            }
            @media (max-width: 480px) {
               letter-spacing: 0;
               font-size: 11px;
               padding: 0;
               line-height: 35px;
            }
         }
         @media (max-width: 480px) {
            width: 60%;
            padding-left: 20px;
         }
      }
   }
   .card {
      padding: 30px;
      padding-bottom: 32px;
   }
   & + .prod-item > .card {
      padding-top: 30px;
   }
}
