{{#if shop_by_price}}
    <div class="sidebarBlock" id="sideShopByPrice">
        <h5 class="side-module-heading"><span>{{lang 'category.shop_by_price'}}</span></h5>
        <ul>
            {{#each shop_by_price}}
            <li>
                <a class="{{#if selected }} is-active {{/if}}" href="{{url}}" alt="{{low.formatted}} - {{high.formatted}}" title="{{low.formatted}} - {{high.formatted}}">{{low.formatted}} - {{high.formatted}}</a>
            </li>
            {{/each}}

            {{#any shop_by_price selected=true}}
                <li>
                    <a href="{{category_url}}">
                        {{lang 'category.reset'}}
                    </a>
                </li>
            {{/any}}
        </ul>
    </div>
{{/if}}
