// =============================================================================
// TAGS (Settings)
// =============================================================================


$tag-fontSize:                      fontSize("base");
$tag-color:                         #969696;
$tag-color-hover:                   #000000;
$tag-paddingVertical:               spacing("quarter");
$tag-paddingHorizontal:             spacing("base");
$tag-padding:                       $tag-paddingVertical $tag-paddingHorizontal;
$tag-textDecoration:                none;
$tag-content:                       "#";
