// =============================================================================
// QUICK VIEW (CSS)
// =============================================================================

.quickView {
    @include clearfix();
    article.productView-description {
      display: none;
    }
    .productView-images {
      margin-bottom: 0;
    }
    & .productView-description-right {
    	display: none !important;
    }
}
