<div class="alertBox productAttributes-message" style="display:none">
  <div class="alertBox-column alertBox-icon">
      <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
  </div>
  <p class="alertBox-column alertBox-message"></p>
</div>

<div class="qty-add-wrap">
  <div class="form-field form-field--increments">
      <label class="form-label form-label--alternate"
             for="qty[]">{{lang 'products.quantity'}}</label>

      <div class="form-increment" data-quantity-change>
          <button class="button button--icon" data-action="dec">
              <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
              <i class="fa fa-minus"></i>
          </button>
          <input class="form-input form-input--incrementTotal"
                 id="qty[]"
                 name="qty[]"
                 type="tel"
                 value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                 data-quantity-min="{{product.min_purchase_quantity}}"
                 data-quantity-max="{{product.max_purchase_quantity}}"
                 min="1"
                 pattern="[0-9]*"
                 aria-live="polite">
          <button class="button button--icon" data-action="inc">
              <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
              <i class="fa fa-plus"></i>
          </button>
      </div>
  </div>

  <div class="ask-an-expert">
    {{#if theme_settings.halo_ask_an_expert}}
    <!-- BEGIN ASK AN EXPERT BUTTON -->
    <!-- <button type="button" data-reveal-id="halo-ask-an-expert-form">Talk To An Expert</button> -->
    <a id="click-to-chat__cta--text" class="cta cta--blue" onclick="window.hubspot.messages.EXPERIMENTAL_API.requestWidgetOpen();">Talk To An Expert</a>
    <!-- END ASK AN EXPERT BUTTON -->
    {{/if}} 
    <!-- Start Request Button -->
    <a id="product_inquiry_button" data-reveal-id="halo-request-a-quote-form" href="#" title="Request For Delivery">Request a Quote</a>
    <!-- End Request Button -->
     
  </div>

</div>
{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
    <!-- <input id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="btn" type="submit" value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}"> -->
     <button id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="btn btn-primary" type="submit">{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}<i class="icon-cart"><svg><use xlink:href="#shopping-bag-add"></use></svg></i>{{lang 'products.add_to_cart'}}{{/if}}</button>
    {{{snippet 'product_addtocart'}}}
{{/or}}
